.bills-list {
  margin: 0;

  .list-group-item {
    background-color: transparent;
    border-bottom: 1px solid rgba(207, 207, 206, 0.4);
    color: #fff;
    padding: 20px 0;

    &:last-child {
      border-bottom-width: 1px;
    }

    .btn {
      background-color: $orange;

      &:active,
      &:hover,
      &:first-child:active,
      &:focus-visible {
        background-color: $orange-2 !important;
      }
    }

    .bills-list-info {
      color: $orange;
    }

    &.payed {
      .btn {
        background-color: $green;

        &:active,
        &:hover,
        &:first-child:active,
        &:focus-visible {
          background-color: $green-hover !important;
        }
      }

      .bills-list-info {
        color: $green;
      }
    }
  }

  &-info {
    font-size: 14px;
  }
}
