.assets-list {
  margin: 0;

  .list-group-item {
    background-color: transparent;
    border-bottom: 1px solid rgba(207, 207, 206, 0.4);
    color: #fff;
    padding: 20px 0;

    &:last-child {
      border-bottom-width: 1px;
    }
  }

  &-info {
    font-size: 14px;
  }
}

.my-courses-list {
  .list-group-item .assets-list-info {
    color: $grey-medium-2;
  }
}
