.countdown {
  display: flex;
  gap: 7px;
  font-family: $font-family-medium;

  .num {
    font-size: 32px;
    line-height: 1;
  }

  .word {
    font-size: 14px;
    border-bottom: 4px solid $blue-zoom;
    position: relative;
    top: -8px;
    margin-left: 2px;
  }

  .day,
  .hour,
  .min {
    position: relative;
  }
}
