/* CSS Styles */
.course-grid-container {
  display: grid;
  grid-template-columns: 890px auto;
  grid-template-rows: repeat(4, auto);
  column-gap: 20px;
  grid-auto-rows: min-content;
}

.course-grid-container-item1,
.course-grid-container-item2 {
  align-self: start; /* Ensure grid items do not stretch */
}

.course-grid-container-item1 {
  grid-column: 1;
  grid-row: 1;
}

.course-grid-container-item2 {
  grid-column: 2;
  grid-row: 1;
}

.course-grid-container-item3 {
  grid-column: 2;
  grid-row: 2;
}

.course-grid-container-item4 {
  grid-column: 1;
  grid-row: 2 / span 2;
}

.course-grid-container-item5 {
  grid-column: 1 / span 2; /* Spans two columns */
  grid-row: 4;
}

.course-grid-container-item6 {
  grid-column: 2;
  grid-row: 3 / span 2;
}

/* Media query for screens under 1600px */
@media (max-width: 1600px) {
  .course-grid-container {
    grid-template-columns: 1fr; /* Single column */
    grid-template-rows: repeat(6, auto);
    column-gap: 0;
  }

  /* Reordering grid items */
  .course-grid-container-item1 {
    grid-column: 1;
    grid-row: 1;
  }

  .course-grid-container-item2 {
    grid-column: 1;
    grid-row: 2;
  }

  .course-grid-container-item3 {
    grid-column: 1;
    grid-row: 3;
  }

  .course-grid-container-item4 {
    grid-column: 1;
    grid-row: 4;
  }

  .course-grid-container-item5 {
    grid-column: 1;
    grid-row: 5;
  }

  .course-grid-container-item6 {
    grid-column: 1;
    grid-row: 6;
  }
}

.course-modules {
  margin-top: 125px;
  transition: margin-top 0.3s ease;

  &-title {
    font-size: 32px;
    font-family: $font-family-extrabold;
    margin: 8px 0 0;
    color: $green;
  }

  &-info {
    margin: 0 0 15px;
    display: flex;
    font-family: $font-family-light;
    color: $green;

    strong {
      font-family: $font-family-extrabold;
    }

    li {
      position: relative;
      padding-left: 8px;
      margin-left: 7px;

      &::before {
        content: "";
        height: 12px;
        width: 1px;
        background-color: $green;
        position: absolute;
        left: 0;
        top: 50%;
        margin-top: -6px;
      }

      &:first-child {
        padding-left: 0;
        margin-left: 0;

        &::before {
          display: none;
        }
      }
    }
  }

  .circle {
    margin-left: 30px;
    margin-bottom: 15px;
  }

  .circle,
  .circle::before,
  .circle::after {
    background-color: $green;
  }

  &-list-inner {
    max-height: 300px;
    overflow: hidden;
  }

  &-list-wrapper {
    position: relative;
  }

  &.cancel-overflow-limit {
    margin-top: 25px;

    .course-modules-list-inner {
      max-height: none;
      overflow: visible;
    }

    .modules-overflow-limit {
      display: none;
    }
  }

  &-list {
    margin: 0;
    max-width: 870px;

    &-item {
      pointer-events: none;
      display: flex;
      color: $grey-medium-2;

      &-icon {
        width: 30px;
        margin-top: 16px;

        svg {
          width: 17px;
          height: 23px;
          fill: $grey-medium-2;
        }
      }

      &-details {
        border-bottom: 1px solid rgba(207, 207, 206, 0.2);
        display: flex;
        gap: 15px;
        flex: 1;
        padding: 19px 0 17px;
      }

      &.active {
        pointer-events: all;
        cursor: pointer;
        color: #fff;

        &:hover {
          .course-modules-list-item-details {
            background: linear-gradient(
              to right,
              rgba(255, 255, 255, 0),
              rgba(255, 255, 255, 0.1),
              rgba(255, 255, 255, 0)
            );
          }
        }

        .course-modules-list-item-icon {
          margin-top: 17px;

          svg {
            width: 20px;
            height: 20px;
            fill: #fff;
          }
        }
      }
    }
  }
}

.cml-number {
  font-family: $font-family-bold;
}

.cml-name {
  flex: 1;
}

.cml-duration {
  margin-left: auto;
  font-family: $font-family-base;
}

.modules-overflow-limit {
  position: absolute;
  left: 0;
  width: 100%;
  bottom: 0;
  z-index: 1;
  text-align: center;
  height: 150px;
  background: linear-gradient(
    to top,
    $blue-main 0,
    rgba(16, 18, 40, 0.4) 80%,
    transparent 100%
  );

  .btn {
    position: absolute;
    left: 70px;
    bottom: -30px;
  }
}
