.exam-date {
  &-section-title {
    font-size: 24px;
    font-family: $font-family-bold;
  }

  .nav-tabs {
    flex-wrap: nowrap;
    justify-content: center;
    gap: 3px;
    border: none;

    @include media-breakpoint-down(lg) {
      flex-wrap: wrap;
    }

    .nav-item {
      flex: 1;

      @include media-breakpoint-down(lg) {
        flex-basis: 200px;
        flex-grow: 0;
        flex-shrink: 0;
      }

      @media (max-width: 440px) {
        flex-basis: 180px;
      }
    }

    .nav-link {
      border: none;
      margin: 0;
      color: #fff;
      font-size: 21px;
      background: linear-gradient(
        to top,
        rgba(255, 255, 255, 0.1),
        rgba(255, 255, 255, 0)
      );
      border-radius: 0;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 30px;
      width: 100%;
      height: 100%;
      min-height: 230px;
      position: relative;

      @include media-breakpoint-down(md) {
        min-height: 185px;
        padding-top: 20px;
      }

      &:hover {
        background: linear-gradient(
          to top,
          rgba(255, 255, 255, 0.2),
          rgba(255, 255, 255, 0)
        );
      }

      span {
        display: block;
      }

      &.active {
        border: 3px solid $yellow;
        border-radius: 5px;
        padding-top: 27px;

        @include media-breakpoint-down(md) {
          padding-top: 17px;
        }

        &::before {
          content: "";
          height: 54px;
          width: 54px;
          border-radius: 50%;
          background-color: #2d3845;
          position: absolute;
          bottom: -27px;
          left: 50%;
          margin-left: -27px;
          border-bottom: 1px solid rgba(207, 207, 206, 0.2);

          @include media-breakpoint-down(md) {
            height: 44px;
            width: 44px;
            bottom: -22px;
            margin-left: -22px;
          }
        }

        &::after {
          content: "";
          background-image: url("../assets/images/checked-yellow.svg");
          position: absolute;
          background-repeat: no-repeat;
          background-size: cover;
          bottom: -22px;
          left: 50%;
          margin-left: -22px;
          z-index: 1;
          width: 44px;
          height: 44px;

          @include media-breakpoint-down(md) {
            height: 34px;
            width: 34px;
            bottom: -17px;
            margin-left: -17px;
          }
        }
      }
    }
  }

  &-month {
    font-size: 28px;
    font-family: $font-family-bold;
    line-height: 1;

    @include media-breakpoint-down(md) {
      font-size: 23px;
    }
  }

  &-date {
    font-size: 21px;
    font-family: $font-family-light;
    margin-bottom: 30px;

    @include media-breakpoint-down(md) {
      font-size: 17px;
      margin-bottom: 20px;
    }
  }

  &-text {
    font-size: 18px;
    font-family: $font-family-light;
    color: $grey-medium-2;

    @include media-breakpoint-down(md) {
      font-size: 15px;
    }
  }

  &-hours {
    font-size: 21px;
    font-family: $font-family-bold;
    line-height: 1;

    @include media-breakpoint-down(md) {
      font-size: 17px;
    }

    &.unspecified {
      font-size: 18px;

      @include media-breakpoint-down(md) {
        font-size: 17px;
      }
    }
  }

  .tab-content {
    max-width: 850px;
    margin: 0 auto;
  }
}

.exam-info {
  padding: 50px 20px;
  text-align: center;
  background: linear-gradient(
    to top,
    rgba(94, 180, 97, 0.1),
    rgba(94, 180, 97, 0)
  );
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.tax-text {
  font-size: 21px;
  font-family: $font-family-light;
  color: $green;

  span {
    color: #fff;
  }
}

.exam-price {
  font-size: 50px;
  font-family: $font-family-bold;

  sup {
    text-transform: uppercase;
    font-family: $font-family-light;
    font-size: 28px;
  }
}

.exam-offset {
  max-width: 425px;
  margin: -25px auto 0;
  text-align: center;

  &-text {
    font-family: $font-family-light;
    font-size: 18px;
    color: $grey-medium-4;
  }
}

.nav-link-text {
  font-size: 16px;
  color: $grey-medium-2;
}

.delivery-prices {
  .nav-tabs {
    .nav-item {
      @include media-breakpoint-down(lg) {
        flex-basis: 46%;
      }

      @include media-breakpoint-down(md) {
        flex-basis: 49%;
      }

      @include media-breakpoint-down(sm) {
        flex-basis: 100%;
      }
    }

    .nav-link {
      min-height: 200px;

      .exam-price {
        margin-bottom: 20px;
      }

      &.active {
        background: linear-gradient(
          to top,
          rgba(255, 255, 255, 0.2),
          rgba(255, 255, 255, 0)
        );

        .exam-price {
          margin-bottom: 17px;
        }
      }
    }
  }

  .exam-offset {
    margin-top: 50px;
    max-width: none;
  }
}
