.faq-component {
  margin-top: 110px;
}

.accordion-item {
  background-color: transparent;
  border: none;
  color: inherit;
  border-radius: 0 !important;

  .accordion-header .accordion-button {
    background-color: transparent;
    color: inherit;
    box-shadow: none;
    border-bottom: 1px solid rgba(207, 207, 206, 0.4);
    padding-left: 0;
    padding-right: 0;
    font-size: 20px;
    font-family: $font-family-bold;
    border-radius: 0 !important;

    &::after {
      background-image: url(../assets/images/widearrowdown.svg);
      width: 50px;
      height: 15px;
      background-size: auto;
    }

    &:not(.collapsed) {
      border-bottom: none;
      pointer-events: none;

      &::after {
        display: none;
      }
    }
  }
}

.accordion-body {
  padding: 10px 0 20px;
  font-size: 18px;
  font-family: $font-family-light;
}
