.live-course-panel {
  min-height: 90px;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0)
  );
  border-radius: 7px;
  display: flex;
  align-items: center;
  gap: 18px;
  padding: 5px 0 5px 20px;
  margin-bottom: 70px;

  @include media-breakpoint-down(xl) {
    justify-content: center;
  }

  @include media-breakpoint-down(sm) {
    margin-bottom: 48px;
    flex-direction: column;
    padding: 20px 10px;

    .countdown {
      order: 1;
    }

    .btn {
      order: 2;
    }
  }

  &-icon {
    width: 51px;
    height: 51px;
    fill: #fff;
  }

  &-date {
    text-align: center;
    font-size: 18px;

    @include media-breakpoint-down(sm) {
      order: 3;
    }

    &-title {
      margin: 0;
      color: $blue-zoom;
      font-family: $font-family-bold;
      font-size: inherit;
    }

    &-text {
      display: block;
      font-family: $font-family-light;
    }
  }
}

.zoom-tutorial {
  display: flex;

  p {
    font-size: 18px;
    font-family: $font-family-bold;

    span {
      font-family: $font-family-light;
    }
  }
}

a.zoom-tutorial {
  display: inline-flex;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
