.wyg-component {
  margin-top: 60px;

  .row {
    display: inline-flex;

    @media (max-width: 900px) {
      justify-content: center;
      row-gap: 30px;
    }
  }

  &-left {
    .circle {
      margin-left: 30px;
    }
  }

  .yellow {
    .wyg-presentation-icon {
      fill: $yellow;
    }
  }

  .green {
    .wyg-presentation-icon {
      fill: $green;
    }
  }
}

.circle {
  width: 15px;
  height: 15px;
  background-color: #fff;
  border-radius: 50%;
  display: inline-block;
  opacity: 0;
  transform: translateY(20px);
  position: relative;

  &-left {
    margin-left: 30px;
  }
}

/* Pseudo-elements for additional circles */
.circle::before,
.circle::after {
  content: "";
  width: 15px;
  height: 15px;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

/* Main circle animation */
.in-view {
  .circle {
    animation: circleIn 0.5s forwards, wave 2s 1.5s forwards;
  }

  .circle::before {
    animation: circleLeftIn 0.5s 0.5s forwards, waveLeft 2s 1.6s forwards;
  }

  .circle::after {
    animation: circleRightIn 0.5s 0.5s forwards, waveRight 2s 1.7s forwards;
  }

  .no-wave {
    &.circle {
      animation: circleIn 0.5s forwards;
    }

    &.circle::before {
      animation: circleLeftIn 0.5s 0.5s forwards;
    }

    &.circle::after {
      animation: circleRightIn 0.5s 0.5s forwards;
    }
  }
}

.wyg-presentation {
  display: flex;
  align-items: flex-end;

  &-icon {
    width: 50px;
    height: 50px;
    fill: #fff;
    margin-right: 42px;
  }

  &.grey {
    .circle,
    .circle::before,
    .circle::after {
      background-color: $grey-medium-2;
    }

    .wyg-presentation-icon {
      fill: $grey-medium-2;
    }
  }
}

.wyg-text {
  text-align: left;
  font-size: 16px;
  font-family: $font-family-light;
  margin-top: 12px;
  margin-bottom: 0;
}

.wyg-col {
  width: 238px;
  flex: 0 0 auto;
  line-height: 1.3;
  margin-left: 25px;
  margin-right: 25px;

  @include media-breakpoint-down(sm) {
    width: 270px;
    margin-left: 0;
    margin-right: 0;
  }

  @media (max-width: 540px) {
    width: auto;
    max-width: 320px;
  }
}
