@keyframes activeMenuBG {
  0% {
    background-color: transparent;
  }
  100% {
    background-color: #1a2247;
  }
}

@keyframes stickyMenuBG {
  0% {
    background-color: transparent;
  }
  100% {
    background-image: linear-gradient(to top, #193242, #101228);
  }
}

@keyframes activeMenuXEffectAfter {
  0% {
    opacity: 0;
    transform: rotate(45deg) translate(-35px, 14px);
  }
  50% {
    opacity: 1;
    transform: rotate(45deg) translate(6px, 14px);
  }
  100% {
    opacity: 0;
    transform: rotate(45deg) translate(46px, 14px);
  }
}

@keyframes activeMenuXEffectBefore {
  0% {
    opacity: 0;
    transform: rotate(-45deg) translate(28px, 6px);
  }
  50% {
    opacity: 1;
    transform: rotate(-45deg) translate(-14px, 6px);
  }
  100% {
    opacity: 0;
    transform: rotate(-45deg) translate(-54px, 6px);
  }
}

/* Keyframes for the main circle appearance */
@keyframes circleIn {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Keyframes for the left circle appearance */
@keyframes circleLeftIn {
  from {
    opacity: 0;
    transform: translate(0, 0);
  }
  to {
    opacity: 1;
    transform: translate(-30px, 0); /* Move left by 20px */
  }
}

/* Keyframes for the right circle appearance */
@keyframes circleRightIn {
  from {
    opacity: 0;
    transform: translate(0, 0);
  }
  to {
    opacity: 1;
    transform: translate(30px, 0); /* Move right by 20px */
  }
}

/* Wave animation for the main circle */
@keyframes wave {
  0%,
  100% {
    transform: translateY(0);
  }
  25%,
  75% {
    transform: translateY(-15px);
  }
  50% {
    transform: translateY(0);
  }
}

/* Wave animation for the left circle */
@keyframes waveLeft {
  0%,
  100% {
    transform: translate(-30px, 0);
  }
  25%,
  75% {
    transform: translate(-30px, 10px);
  }
  50% {
    transform: translate(-30px, 0);
  }
}

/* Wave animation for the right circle */
@keyframes waveRight {
  0%,
  100% {
    transform: translate(30px, 0);
  }
  25%,
  75% {
    transform: translate(30px, -10px);
  }
  50% {
    transform: translate(30px, 0);
  }
}
