body {
  background-color: #101228;
  background-image: url("../assets/images/diamond.png");
  background-position: center top;
  background-repeat: no-repeat;
  color: #fff;
  line-height: 1.4;

  &.course-page {
    background-image: url(../assets/images/waves.svg);
    background-size: 1600px auto;
    background-position: center 110px;
  }
}

.container-xxxl {
  @include make-container();

  @media (min-width: 1625px) {
    max-width: 1624px;
  }
}

.container-narrow {
  @include make-container();

  @media (min-width: 875px) {
    max-width: 874px;
  }
}

.container-1000 {
  @include make-container();

  @media (min-width: 1025px) {
    max-width: 1024px;
  }
}

.component-block {
  margin-top: 90px;
}

.waves {
  background-image: url(../assets/images/waves.svg);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 1600px auto;

  &-offset {
    padding-top: 700px;
    margin-top: -600px;
  }
}

.neural-wrapper {
  background-image: url("../assets/images/neural.svg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 1920px 1061px;
  padding-top: 65px;
}

.logo-icon {
  width: 50px;
  height: 65px;

  &-green {
    fill: $green;
  }
}
