@font-face {
  font-family: "RubrikEdgeNew-Bold";
  src: url("../assets/fonts/rubrikedgenew-bold-webfont.woff2") format("woff2"),
    url("../assets/fonts/rubrikedgenew-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "RubrikEdgeNew-Extrabold";
  src: url("../assets/fonts/rubrikedgenew-extrabold-webfont.woff2")
      format("woff2"),
    url("../assets/fonts/rubrikedgenew-extrabold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "RubrikEdgeNew-Light";
  src: url("../assets/fonts/rubrikedgenew-light-webfont.woff2") format("woff2"),
    url("../assets/fonts/rubrikedgenew-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "RubrikEdgeNew-Medium";
  src: url("../assets/fonts/rubrikedgenew-medium-webfont.woff2") format("woff2"),
    url("../assets/fonts/rubrikedgenew-medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "RubrikEdgeNew-Regular";
  src: url("../assets/fonts/rubrikedgenew-regular-webfont.woff2")
      format("woff2"),
    url("../assets/fonts/rubrikedgenew-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "RubrikEdgeNew-RegularItalic";
  src: url("../assets/fonts/rubrikedgenew-regularitalic-webfont.woff2")
      format("woff2"),
    url("../assets/fonts/rubrikedgenew-regularitalic-webfont.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "BebasNeue-Regular";
  src: url("../assets/fonts/bebasneue-webfont.woff2") format("woff2"),
    url("../assets/fonts/bebasneue-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

b,
strong {
  font-weight: normal;
  font-family: $font-family-bold;
}

.main-title {
  font-family: $font-family-extrabold;
  font-size: 48px;
  line-height: 1;
  margin-bottom: 45px;

  span {
    font-family: $font-family-base;
  }

  &.yellow span {
    color: #fff;
  }

  @include media-breakpoint-down(md) {
    font-size: 36px;
  }
}

.medium-title {
  font-size: 32px;
  font-family: $font-family-extrabold;
  line-height: 1;

  @include media-breakpoint-down(md) {
    font-size: 24px;
  }

  span {
    font-family: $font-family-base;
  }

  &.yellow span {
    color: #fff;
  }

  &.all-yellow {
    color: $yellow;
  }

  &.grey {
    color: $grey-medium-2;
  }
}
